.floating-content{
  background-color: rgb(0, 193, 164);
  text-align: center;
}

.floating-screen h2{
  margin: 0px 0px 6px 0px;
  font-style: italic;
}
.floating-screen {
  
  text-align: left;
  background-color: rgb(0, 193, 164);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  .floating-screen-header{
    
    color: white;
    margin-top: 0px;
    font-style: italic;
  }
  

  .floating-txt-area{
    color: white;
    background-color: rgb(0, 23, 20);
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
  }
  .floating-txt-area::placeholder{
    color: white;
  }

  .floating-btn-1{
    background-color: #000000;
    color: white;
    border: 1px #ffffff solid;
    border-radius: 5px;
    padding: 3px;
    margin: 0px 3px;
  }