a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}
.message-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 13px;
    border: 0.5px solid #000000;
}
.message-header{
    text-align: left;
    background-color: rgb(0, 193, 164);
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
}
.homme{
    background-color: #161127;
    height: auto;
    display: flex;
    overflow-y: auto; 
    min-height: 100vh;
}

.homme2{
    padding-top: 10px;
    height: auto;
    width: 60%;
    margin: 0 auto;
    background-color: #262138;
    
}
.iconPro2{
    height: auto;
    width: 40px;
    height: 40px;
}
.message-header span{
    vertical-align: middle;
    margin-left: 10px;
    color: #ffffff;
}
.message-text{
    color: #ffffff;
}

.message-header img{    
    border-radius: 50%;
}
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(0, 193, 164);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
.message-body{
    padding: 0px 15px;
    text-align: left;
}

.message-footer{
    background-color: #1b1728;
    text-align: right;
    padding-right: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.homme2 .welcomemsg{
    margin: 0px;
    margin-bottom: 30px;
    color: rgb(126, 126, 126);
}

.message-footer p{
    color: rgb(126, 126, 126);
    font-size: 10px;
    margin: 0px;
}


.like-button {
    color:rgb(0, 240, 0);
    background-color: #003b02;
    padding: 5px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 0.5px solid #000000;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .dislike-button {
    color:rgb(240, 0, 0);
    background-color: rgb(46, 2, 2);
    padding: 5px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 0.5px solid #000000;
    cursor: pointer;
  }


.like-button:hover{
    color:#003b02;
    background-color: rgb(1, 218, 1);
  }
  
.dislike-button:hover {
    color:rgb(46, 2, 2);
    background-color: rgb(220, 0, 0);
  }