.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    background-color: #262138;
}

.signin-container .intHeaders1 {
    margin-bottom: 20px;
    color: #ffffff;
    border-bottom: 3px rgb(235, 135, 21) solid;
    padding-bottom: 20px;
    width: 10%;
    margin-top: 0px;
}
.form-container{
    align-items: center;
    justify-content: center;
}
.signin-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signin-container input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 0.5px solid #ffffff;
    background-color: #0d0528;
    color: #ffffff;
}
.signin-container input::placeholder {
    color: #5d46a1;
}

.signin-container button {
    padding: 10px 20px;
    background-color: rgb(0, 193, 164);
    color: rgb(0, 0, 0);
    border: none;
    font-family: Helvetica;
    font-weight:bolder;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
}

button.google-signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.google-signin-button img {
    width: 20px;
    height: 20px;
}